* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


.footer {
  background-color: #3f475f;
  color: #5b1e1e;
  padding: 30px 0;
  text-align: center; /* Tüm içeriği ortala */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-container {
  display: flex;
  justify-content: center; /* Kutuları yatay olarak ortala */
  flex-wrap: wrap;
  align-items: center;
}

.box {
  flex: 1;
  padding: 0 20px;
  text-align: center; /* Kutuları sola hizala */
}

.box h3 {
  margin-bottom: 20px;
  color: #fff;
}

.box a {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

.box a:hover {
  text-decoration: underline;
}

.share {
  margin-top: 20px;
}

.footer .share {
  padding: 1rem 0;
  display: flex; /* İkonları yatay olarak hizalamak için flex kullanıyoruz */
  justify-content: center; /* İkonları ortalamak için */
}

.footer .share a {
  height: 3.5rem; /* İkonların yüksekliğini küçülttük */
  width: 3.5rem; /* İkonların genişliğini küçülttük */
  line-height: 3.5rem; /* İkonların dikey hizalaması */
  font-size: 1.6rem; /* İkon boyutunu daha da düşürdük */
  color: #fff;
  background: #0b6bcb;
  margin: 0 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background: #0b6bcb;
  opacity: 0.8;
}

.credit {
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
}

.credit span {
  font-weight: bold;
}
